body{
        max-width: auto;
        min-width: auto;
        background-image: url(../assets/images/fondo.jpg);
        background-size: cover;
        background-repeat:no-repeat;
    }

    @media only screen and ( max-width: 600px) and (min-width: 40px){  
  
    #card-body{
        max-width: 15rem;

    }

    
    }
   
  