body{
       
        background-image: url(../assets/images/fondo.jpg);
        background-size: cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
    }


#perro{

   width: 30px;
 margin: auto;
}